<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning ejs templating engine</title>
</head>
<body>
    <!-- This type of generics are used to write only. -->
    <h1>Hello how are you <%= a %></h1>


    <!-- This type of generics are used to write logical code -->
    <% for(let i = 1; i < 11; i++ ) {%>
        <p><%=i%></p>
    <%}%>
</body>
</html>