dist/
node_modules/
.env
*.env.*
.DS_Store
.vscode/
.idea/
*.log
coverage/
*.bak
*.tmp
*.swp
thumbs.db
build/
out/
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.sass-cache/
.cache/
.next/
.nuxt/
*.local
*.iml
*.class
*.jar
*.war